<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="/formdata" method="post">

        Enter CGPA:<br>
        <input type="text" name="cgpa"><br/>

        Enter Quant Score:<br/>
        <input type="text" name="quant"/><br/>

        Enter Verbal Score:<br/>
        <input type="text" name="verbal"/><br/>

        Enter TOEFL Score: <br/>
        <input type="text" name="toefl"/><br/>

        Enter Number of papers published: <br/>
        <input type="text" name="paper_pub"><br/>

        Enter Work experience in months: <br/>
        <input type="text" name="work_ex"><br/>

        <input type="submit" value="submit">

    </form>
    
</body>
</html>